.navigator-box {
  position: absolute;
  bottom: 16px;
  width: 80%;
  height: 100px;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%)
}

#file-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-anchor: none;
  transform: translateZ(0);
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  background-color: #fff
}

#file-viewer .page-container {
  margin: 0 auto;
  box-sizing: initial;
  overflow: hidden;
  position: relative
}

#file-viewer .page-content {
  background: #fff;
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  position: relative
}

#file-viewer .document-viewer {
  min-width: 100%
}

#file-viewer img {
  pointer-events: none
}

/*! 
         * Base CSS for pdf2htmlEX
         * Copyright 2012,2013 Lu Wang <coolwanglu@gmail.com> 
         * https://github.com/coolwanglu/pdf2htmlEX/blob/master/share/LICENSE
         */
@media screen {
  .loading-indicator {
    display: none
  }

  .loading-indicator.active {
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px
  }

  .loading-indicator img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
  }
}

@media print {
  #page-container {
    width: auto;
    height: auto;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0)
  }

  .d {
    display: none
  }
}

.pf {
  position: relative;
  background-color: #fff;
  text-align: initial
}

.pc,
.pf {
  overflow: hidden;
  margin: 0;
  border: 0
}

.pc {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0
}

.pc,
.pc.opened {
  display: block
}

.bf {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%
}

.bf,
.bi {
  position: absolute;
  border: 0;
  margin: 0;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none
}

@media print {
  .pf {
    margin: 0;
    box-shadow: none;
    page-break-after: always;
    page-break-inside: avoid
  }

  @-moz-document url-prefix() {
    .pf {
      border: 1px solid #fff
    }

    .pc,
    .pf {
      overflow: visible
    }
  }
}

.c {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: block
}

.c,
.t {
  position: absolute
}

.t {
  white-space: pre;
  font-size: 1px;
  font-size: .0625rem;
  transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  unicode-bidi: bidi-override;
  -moz-font-feature-settings: "liga" 0
}

.t:after,
.t:before {
  content: ""
}

.t:before {
  display: inline-block
}

.t span {
  position: relative;
  unicode-bidi: bidi-override
}

.blank {
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  z-index: -1
}

.pi {
  display: none
}

.d {
  position: absolute;
  transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%
}

.it {
  border: 0;
  background-color: hsla(0, 0%, 100%, 0)
}

.ir:hover {
  cursor: pointer
}

#hidden_preview_recommendation_container {
  display: none
}

mark {
  background-color: #f6ddc7
}
